/*top-header-area-css*/
.top-header-area {
    border-bottom: 1px solid #eeeeee;
    padding: {
        top: 12px;
        bottom: 12px;
    };
    .search-box {
        form {
            position: relative;

            .input-search {
                background-color: #f9f9f9;
                color: var(--blackColor);
                padding-left: 15px;
                display: block;
                height: 50px;
                width: 100%;
                border: 0;

                &::placeholder {
                    color: var(--secondaryColor);
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            button {
                background-color: var(--primaryColor);
                transition: var(--transition);
                color: var(--whiteColor);
                position: absolute;
                line-height: 50px;
                font-size: 20px;
                height: 50px;
                width: 50px;
                padding: 0;
                border: 0;
                right: 0;
                top: 0;

                &:hover {
                    background-color: var(--blackColor);
                }
            }
        }
    }
    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        text-align: end;

        li {
            display: inline-block;
            margin-right: 7px;

            a {
                display: block;
                font-size: 20px;
                color: var(--secondaryColor);

                &:hover {
                    color: var(--primaryColor);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.white-color {
        border-bottom: none;
        background-color: #1b1c29;

        p {
            color: var(--whiteColor);
        }
        ul {
            li {
                a {
                    color: var(--whiteColor);

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }
    .container-fluid {
        max-width: 1360px;
    }
}
