<div class="main-banner-area vh-50">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <span class="sub-title">Bienvenue à WoofyPaws</span>
                    <h1>C'est l'heure de <br>la balade !</h1>
                    <p>Organisez ou rejoignez une balade</p>
                    <a href="shop-grid.html" class="default-btn"><span>Découvrir les balades</span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-image">
                    <img src="assets/img/banner/banner1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>
