/*================================================
Main Banner Area CSS
=================================================*/
.main-banner-area {
    padding-top: 10px;
    background: {
        color: #cdebfc;
        image: url(../../../../../assets/img/banner/banner-bg.jpg);
        position: left bottom;
        repeat: no-repeat;
        size: cover;
    }
    .container-fluid {
        max-width: 1360px;
    }
}
.main-banner-content {
    .sub-title {
        display: block;
        margin-bottom: 10px;
        font-family: var(--headingFontFamily);
    }
    h1 {
        margin-bottom: 15px;
        letter-spacing: 2px;
        font: {
            family: var(--extraFontFamily);
            size: 65px;
        }
    }
    p {
        font-family: var(--headingFontFamily);
        color: var(--blackColor);
    }
    .default-btn {
        margin-top: 10px;
    }
}
.main-banner-image {
    text-align: center;
    position: relative;

    img {
        height: 400px;
        align-items: center;
        text-align: center;
    }
}
