<div class="woofypaws-responsive-nav">
    <div class="container">
        <div class="woofypaws-responsive-menu mean-container">
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            </div>
            <div class="mean-bar"><a href="#nav" class="meanmenu-reveal"
                    style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;"><span><span><span></span></span></span></a>
                <nav class="mean-nav">
                    <ul class="navbar-nav" style="">
                        <li class="nav-item"><a href="#" class="dropdown-toggle nav-link active">Home</a>
                        <li class="nav-item"><a href="#" class="dropdown-toggle nav-link">Pages</a>
                        <li class="nav-item"><a href="#" class="dropdown-toggle nav-link">Shop</a>
                        <li class="nav-item"><a href="#" class="dropdown-toggle nav-link">Blog</a>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>
                </nav>
                <div class="others-option">
                    <div class="d-flex align-items-center">
                        <ul style="">
                            <li>
                                <div class="search-icon">
                                    <i class="bx bx-search"></i>
                                </div>
                            </li>
                            <li><a href="profile-authentication.html"><i class="bx bx-user-circle"></i></a></li>
                            <li class="mean-last"><a href="cart.html"><i class="bx bx-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
