.others-option-for-responsive {


    .dot-menu {
        top: -42px;
        right: 55px;
        height: 30px;
        z-index: 999;
        padding: 0 10px;
        cursor: pointer;
        position: absolute;

        .inner {
            align-items: center;
            display: flex;
            height: 30px;

            .circle {
                width: 5px;
                height: 5px;
                margin: 0 2px;
                border-radius: 100%;
                transition: var(--transition);
                background-color: var(--blackColor);
            }
        }
        &:hover {
            .inner {
                .circle {
                    background-color: var(--primaryColor);
                }
            }
        }
    }
    .container {
        position: relative;

        .container {
            right: 0;
            top: 15px;
            opacity: 0;
            z-index: 2;
            max-width: 300px;
            margin-left: auto;
            visibility: hidden;
            position: absolute;
            transform: scaleX(0);
            transition: var(--transition);
            padding: {
                left: 15px;
                right: 15px;
            };
            &.active {
                opacity: 1;
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
    .option-inner {
        padding: 15px 20px;
        text-align: center;
        background-color: var(--whiteColor);
        box-shadow: 0 15px 40px rgba(0,0,0,.09);

        .others-option {
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin: {
                        left: 10px;
                        right: 10px;
                    };
                    .form-select {
                        background-position: right 0 center;
                        background-color: transparent;
                        color: var(--blackColor);
                        padding: 0 15px 0 0;
                        position: relative;
                        box-shadow: unset;
                        cursor: pointer;
                        border: 0;
                        top: -4px;
                        font: {
                            size: 13.5px;
                            family: var(--headingFontFamily);
                        };
                    }
                    .search-icon {
                        line-height: 1;
                        font-size: 20px;
                        cursor: pointer;
                        color: var(--blackColor);
                        transition: var(--transition);

                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                    a {
                        display: block;
                        line-height: 1;
                        font-size: 22px;
                        color: var(--blackColor);

                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/*search-overlay-css*/
.search-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99999;
    position: fixed;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    .search-overlay-layer {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        transform: translateX(100%);

        &:nth-child(1) {
            left: 0;
            transition: all 0.3s ease-in-out 0s;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &:nth-child(2) {
            left: 0;
            transition: all 0.3s ease-in-out 0.3s;
            background-color: rgba(0, 0, 0, 0.4);
        }
        &:nth-child(3) {
            left: 0;
            transition: all 0.9s ease-in-out 0.6s;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .search-overlay-close {
        top: 40px;
        right: 40px;
        width: 50px;
        z-index: 2;
        opacity: 0;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        visibility: hidden;
        position: absolute;
        transition: all 0.9s ease-in-out 1.5s;

        .search-overlay-close-line {
            width: 100%;
            height: 3px;
            float: left;
            margin-bottom: 5px;
            transition: all 500ms ease;
            background-color: var(--whiteColor);

            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                margin-top: -7px;
                transform: rotate(-45deg);
            }
        }
        &:hover {
            .search-overlay-close-line {
                background: red;
                transform: rotate(180deg);
            }
        }
    }
    .search-overlay-form {
        transform: translateY(-50%) translateX(-50%);
        transition: all 0.9s ease-in-out 1.4s;
        visibility: hidden;
        position: absolute;
        max-width: 600px;
        width: 600px;
        opacity: 0;
        z-index: 2;
        left: 50%;
        top: 50%;

        form {
            position: relative;

            .input-search {
                padding: 0;
                width: 100%;
                height: 70px;
                border: none;
                display: block;
                color: var(--whiteColor);
                background-color: transparent;
                transition: var(--transition);
                border-bottom: 1px solid rgba(255, 255, 255, .40);
                font-size: 20px;

                &::placeholder {
                    transition: var(--transition);
                    color: var(--whiteColor);
                }
                &:focus {
                    border-color: var(--whiteColor);

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            button {
                right: 0;
                top: 13px;
                border: none;
                opacity: 0.7;
                font-size: 25px;
                position: absolute;
                color: var(--whiteColor);
                transition: var(--transition);
                background-color: transparent;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    &.search-overlay-active {
        &.search-overlay {
            opacity: 1;
            visibility: visible;

            .search-overlay-layer {
                transform: translateX(0);
            }
            .search-overlay-close {
                opacity: 1;
                visibility: visible;
            }
            .search-overlay-form {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
