<app-top-header></app-top-header>
<!-- <app-mobile-header></app-mobile-header> -->
<div class="woofypaws-nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <div class="collapse navbar-collapse mean-menu" style="display: block;">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link active">Accueil</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">WoofyPaws</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Évènement</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
                <div class="others-option">
                    <div class="d-flex align-items-center">
                        <ul>
                            <li>
                                <div class="search-form">
                                    <form>
                                        <button type="submit"><i class="bx bx-search"></i></button>
                                        <input type="text" class="input-search" placeholder="Enter your keywords...">
                                    </form>
                                </div>
                            </li>
                            <li><a href="profile-authentication.html"><i class="bx bx-user-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
