.woofypaws-nav {
    .container-fluid {
        max-width: 1360px;
    }
    .navbar {
        padding: 0;
        position: inherit;

        .navbar-brand {
            font-size: inherit;
            line-height: 1;
            padding: 0;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .navbar-nav {
            position: relative;
            margin: {
                left: auto;
                right: auto;
            }
            .nav-item {
                position: relative;
                margin: {
                    left: 15px;
                    right: 15px;
                }
                a {
                    position: relative;
                    color: var(--blackColor);
                    transition: var(--transition);
                    font: {
                        family: var(--headingFontFamily);
                        size: 15px;
                    }
                    padding: {
                        left: 0;
                        right: 0;
                        top: 30px;
                        bottom: 30px;
                    }
                    &:hover,
                    &.active {
                        color: var(--primaryColor);
                    }
                }
            }
        }
        .others-option {
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 15px;

                    .search-form {
                        form {
                            display: flex;
                            border: 1px solid var(--blackColor);
                            border-radius: 50px;
                            align-items: center;
                            vertical-align: middle;
                            padding: 0 4px;

                            button {
                                line-height: 1;
                                border: none;
                                background: none;
                                height: 35px;
                                font-size: 25px;

                                .bx-search {
                                    // line-height: 1.7;
                                    font-size: 20px;
                                    cursor: pointer;
                                    color: var(--blackColor);
                                    transition: var(--transition);

                                    &:hover {
                                        color: var(--primaryColor);
                                    }
                                }
                            }

                            input {
                                padding: 0;
                                width: 270px;
                                height: 35px;
                                border: none;
                                display: block;
                                background-color: transparent;
                                font-size: 14px;
                            }
                        }
                    }

                    a {
                        display: block;
                        line-height: 1;
                        font-size: 22px;
                        color: var(--blackColor);

                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .woofypaws-nav{
        display: none;
    }
}
