@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
    --fontFamily: "Titillium Web", sans-serif;
    --headingFontFamily: "Fredoka One", cursive;
    --extraFontFamily: "Luckiest Guy", cursive;
    --primaryColor: #259cd8;
    --secondaryColor: #808292;
    --whiteColor: #ffffff;
    --blackColor: #2a2b39;
    --transition: 0.5s;
    --fontSize: 16px;
}
body {
    margin: 0;
    padding: 0;
    color: var(--blackColor);
    font: {
        size: var(--fontSize);
        family: var(--fontFamily);
    }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blackColor);
    font: {
        weight: 700;
        family: var(--headingFontFamily);
    }
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        color: var(--primaryColor);
        text-decoration: none;
    }
}
:focus {
    outline: 0 !important;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    color: var(--secondaryColor);
    font-size: var(--fontSize);
    margin-bottom: 15px;
    line-height: 1.7;

    &:last-child {
        margin-bottom: 0;
    }
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-75 {
    padding: {
        top: 75px;
        bottom: 75px;
    }
}
.pt-75 {
    padding-top: 75px;
}
.pb-75 {
    padding-bottom: 75px;
}
/*section-title*/
.section-title {
    text-align: center;
    margin: {
        bottom: 50px;
        top: -6px;
    }
    h2 {
        margin-bottom: 0;
        font-size: 35px;
    }
}
/*default-btn*/
.default-btn {
    border: 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding: 11px 30px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    display: inline-block;
    color: var(--whiteColor);
    transition: var(--transition);
    background-color: var(--primaryColor);
    font: {
        size: 13px;
        family: var(--headingFontFamily);
    }
    &::before {
        top: 0;
        left: 0;
        height: 0;
        content: "";
        z-index: -1;
        width: 25.25%;
        position: absolute;
        transition: 0.5s ease-in-out;
        background-color: var(--blackColor);
    }
    &::after {
        top: 0;
        left: 50%;
        height: 0;
        content: "";
        z-index: -1;
        width: 25.25%;
        position: absolute;
        transition: 0.5s ease-in-out;
        background-color: var(--blackColor);
    }
    span {
        display: block;

        &::before {
            bottom: 0;
            height: 0;
            left: 25%;
            content: "";
            z-index: -1;
            width: 25.25%;
            position: absolute;
            transition: 0.5s ease-in-out;
            background-color: var(--blackColor);
        }
        &::after {
            bottom: 0;
            left: 75%;
            height: 0;
            content: "";
            z-index: -1;
            width: 25.25%;
            position: absolute;
            transition: 0.5s ease-in-out;
            background-color: var(--blackColor);
        }
    }
    &:hover {
        color: var(--whiteColor);
        background-color: var(--primaryColor);

        &::before,
        &::after {
            height: 100%;
        }
        span {
            &::before,
            &::after {
                height: 100%;
            }
        }
    }
}
/*form-control*/
.form-control {
    height: 48px;
    border-radius: 5px;
    color: var(--blackColor);
    font-size: var(--fontSize);
    border: 1px solid #eeeeee;
    box-shadow: unset !important;
    padding: {
        left: 15px;
        right: 15px;
    }
    &:focus {
        border-color: #d5cccc;
    }
}
textarea.form-control {
    padding-top: 15px;
    min-height: auto;
    height: auto;
}
